body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

.demo {
  visibility: hidden;
}

h2 {
  color: #7a5e7e;
  text-decoration: underline;
  margin: 0 0 30px 0;
}
h2#title14 {
  margin-bottom: 0;
}
h2#title15 {
  margin-bottom: 0;
}
hr {
  width: 200px;
}
h3 {
  margin-bottom: 0;
  color: #576241;
  font-size: 17pt;
}
header {
  display: fixed;
  width: 100%;
  height: 5rem;
  background-color: #70799b;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
header h1 {
  font-size: 15pt;
  cursor: pointer;
}

footer {
  margin-top: 50px;
  padding: 30px 50px 30px 30px;
  /* height: 300px; */
}

ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  font-weight: bolder;
}
li {
  padding-top: 20px;
}
.first-list {
  padding-top: 0;
}
.steps {
  margin-left: 50px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #70799b;
  font-size: 12.5pt;
}
.container {
  display: flex;
  color: black;
  margin-top: 100px;
  gap: 20px;
}

.filter-section {
  /* position: relative; */
  position: fixed;
  right: 1%;
  /* top: 70%; */
  border: 1px solid #70799b;
  width: 20%;
  height: auto;
}
.main-section {
  padding: 40px;
  border: 1px solid #70799b;
  text-align: center;
  width: 70%;
}

.info {
  /* font-size: 14pt; */
  padding: 30px;
  text-align: start;
  line-height: 2;
  margin: 0;
}

.info.connected {
  padding: 0 30px 30px 30px;
}

.works-cited {
  width: 800px;
}
.works-links {
  color: blue;
  line-height: 1.5;
}
.works-links:hover {
  color: blue;
  font-size: 12pt;
  text-decoration: underline;
}

.sep-links {
  margin-top: 3px;
  margin-left: 50px;
}
.footer-line {
  margin-top: 100px;
}
img {
  margin: 20px 0 0 0;
  width: 500px;
}
.author {
  margin: 0;
  font-size: 10pt;
  color: gray;
}

@media (max-width: 800px) {
  .container {
    display: block;
  }
  .info {
    /* font-size: 14pt; */
    padding: 20px;
  }
  .main-section {
    padding: 10px;
    border: 1px solid #70799b;
    text-align: center;
    width: auto;
  }
  .filter-section {
    position: static;
    margin-top: 50px;
    width: auto;
  }
  .works-cited {
    width: auto;
  }
  span {
    display: block;
  }
  img {
    width: 200px;
  }
}
